<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="">
    {% csrf_token %}
    <select name="" id="">
        {% for f in foods %}
        <option value="{{ f.name }}">{{ f.name }}
            {% endfor %}
    </select>
</form>

{% for f in foods %}
     <hr>
Name    : {{ f.name }}
    <br>
Carbs   : {{ f.carbs }}
    <br>
Protein :{{ f.protein }}
    <br>
Fats    :{{ f.fats }}
    <br>
Calories:{{ f.calories }}
    <hr>
{% endfor %}

</body>
</html>